*, *:after, *:before {box-sizing: inherit;}
* {margin:0;padding:0;border: 0 none; position: relative;}
html {
  font-size: 1rem;
}
body {
  font-family: $body-type;
  hyphens: auto;
}
h1 {
  display: block;
	font-family: $header-type;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 0.06em;
	margin: 0;
	font-weight: 400;
	line-height:0.75em;
}
h2 { 
  display:block; 
  font-family: $header-type; 
  letter-spacing:0.06em;
  font-size: 1em;
  text-transform: uppercase;	
  font-weight: 400;
  margin: 0 0 0.75em 0.75em;
  padding-top:.75em;
  border-bottom:1px solid #2f96fd;
}
h3 { 
  font-family:$body-type; 
  text-align:left; 
  font-size: 0.813em; 
  color: #000;
  letter-spacing:0.06em;
  line-height: 1.846em;
  font-weight: 400;
  margin:0;
}
h4 { 
  font-family:$body-type; 
  font-size: 0.875em; 
  letter-spacing:0.06em; 
  line-height: 1.71428em;
  text-transform:uppercase;
  font-weight: 600;
  margin:0 0 0 0.7em;
}
h5 {
  font-family: $body-type; 
  font-size: 0.875em;
  letter-spacing: 0.06em;
  line-height: 1.71428em;
  text-transform: uppercase;
  font-weight: 600;
  margin:0.7em 0.7em 1.71428em 0.8em;
}

.App-main {
  overflow-x: hidden;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
